AWS_REGION=us-east-1

# S3
S3_BUCKET=edb022-datalake
S3_RAW_PREFIX=raw/reclamacoes/
S3_OUTPUT_PREFIX=refined/reclamacoes-bancos/

# SQS
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/xxxxxxxxxxxx/edb022-reclamacoes-queue

#DB Local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=case_dados
DB_USER=postgres
DB_PASSWORD=postgres
